/* Inti */

.discA-style {
    display: flex;
    align-self: center;
    width: 50px;
    height: 50px;
    background-image: url('/src/Assets/Img/Captain_America_Shield.png');
    background-size: 50px 50px;
    border-radius: 100%;
    animation: throwIronMan 1s;
}

.discB-style {
    display: flex;
    align-self: center;
    width: 50px;
    height: 50px;
    background-image: url('/src/Assets/Img/iron-man-helmet-3D-model_600.jpg');
    background-size: 50px 50px;
    border-radius: 100%;
    animation: throwCaptain 1s;
}

footer header #roll {
    animation: roll 1s;
}


/* Pedro */


/* Sid */

body {
    background-image: url('/src/Assets/Img/mobileBG.jpg');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#score {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    color: ivory;
}

header {
    display: flex;
    justify-content: space-between;
}

#play1 {
    color: rgb(39, 73, 167);
}

#play2 {
    color: rgb(207, 43, 22);
}

header {
    display: flex;
    color: rgb(39, 73, 167);
    justify-content: space-between;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
}


/* h1 {
    position: absolute;
    bottom: 20%;
} */

#field {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
}

.cell {
    width: 50px;
    height: 50px;
    border: 2px solid rgb(219, 51, 51);
}

.column {
    display: flex;
    flex-direction: column-reverse;
}

@media screen and (min-width:700px) {
    .discA-style {
        width: 100px;
        height: 100px;
        background-size: 100px 100px;
    }
    .discB-style {
        width: 100px;
        height: 100px;
        background-size: 100px 100px;
    }
    body {
        background-image: url('/src/Assets/Img/desktopBG.jpg');
        background-size: 100vw 100vh;
        background-repeat: no-repeat;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header {
        display: flex;
        justify-content: space-evenly;
    }
    #field {
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        align-items: center;
    }
    .cell {
        width: 100px;
        height: 100px;
        border: 1px solid black;
    }
    .column {
        display: flex;
        flex-direction: column-reverse;
    }
}

@keyframes throwCaptain {
    from {
        transform: translateX(500px);
    }
    to {
        transform: translateX(0px);
    }
}

@keyframes throwIronMan {
    from {
        transform: translateX(-500px);
    }
    to {
        transform: translateX(0px);
    }
}

@keyframes roll {
    from {
        width: 0px;
    }
    to {
        width: 50px;
    }
}