/* Inti */

.team-title {
    background-image: linear-gradient(to left, rgb(73, 7, 7), rgb(229, 186, 186), rgb(32, 37, 116));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Press Start 2P", cursive;
}

.initial-none {
    display: none;
}

.initial-screen {
    display: flex;
    background-image: url('/src/Assets/Img/bgStartScreen.jpg');
    background-position: center;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    color: white;
    position: absolute;
    top: 0;
}

#blur {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
}

#blur>p {
    font-weight: 800;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 10px;
}

#blur>ol {
    list-style: none;
    text-align: center;
    margin: 0 14%;
    padding-left: 0;
    max-width: 430px;
}

#blur>ol>li {
    padding: 10px 0;
    color: whitesmoke;
    text-shadow: 3px 5px 2px black;
    font-size: 18px;
}

.box-selection {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 35px;
    padding-top: 15px;
    font-weight: 550;
    width: 265px;
    height: 75px;
    background-color: black;
    color: brown;
    border-radius: 5px;
    box-shadow: 8px 8px 5px 0px rgb(0 0 0 / 55%);
}

.btn-mobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;
}

.btn-select {
    width: 70px;
    height: 30px;
    margin-top: 10px;
    background: rgb(0, 0, 0);
    font-weight: 700;
    color: brown;
    border-radius: 15px;
    box-shadow: 3px 3px 5px 0px rgb(0 0 0 / 55%);
}

.box-selection:focus {
    color: turquoise;
    background: brown;
}

.discA-style {
    display: flex;
    align-self: center;
    width: 50px;
    height: 50px;
    background-image: url('/src/Assets/Img/Captain_America_Shield.png');
    background-size: 50px 50px;
    border-radius: 100%;
    animation: throwIronMan 1s;
}

.discB-style {
    display: flex;
    align-self: center;
    width: 50px;
    height: 50px;
    background-image: url('/src/Assets/Img/iron-man-helmet-3D-model_600.jpg');
    background-size: 50px 50px;
    border-radius: 100%;
    animation: throwCaptain 1s;
}

footer header #roll {
    animation: roll 1.5s;
}


/* Pedro */


/* Sid */

body {
    background-image: url('/src/Assets/Img/mobileBG.jpg');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#score {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    color: ivory;
}

#play1 {
    color: rgb(145, 168, 229);
}

#play2 {
    color: rgb(207, 43, 22);
}

.win {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vw 60vh;
    animation: fadeIn 1s;
}

#draw {
    background-image: url('/src/Assets/Img/empate.gif');
}

#capWin {
    background-image: url('/src/Assets/Img/CapitãoWin.gif');
}

#ironWin {
    background-image: url('/src/Assets/Img/IRWin.gif');
}

#capConsecutiveWin {
    background-image: url('/src/Assets/Img/CapitãoConsecutiveWin.gif');
}

#ironConsecutiveWin {
    background-image: url('/src/Assets/Img/tonyConsecutiveWin.gif');
}

header {
    display: flex;
    color: rgb(90, 97, 187);
    justify-content: space-between;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
}

#field {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
}

.cell {
    width: 50px;
    height: 50px;
    border: 3px double rgb(219, 51, 51);
}

.column {
    display: flex;
    flex-direction: column-reverse;
}

#reset {
    background-color: black;
    color: red;
    border-radius: 15px;
}

@media screen and (min-width:700px) {
    .initial-none {
        display: none;
    }
    .initial-screen {
        display: flex;
        /* width: 2re,;
        height: 100%;
        color: white; */
    }
    #blur {
        padding-top: 5%;
        position: absolute;
        /* width: 80%;
        height: 80%; */
    }
    #blur>p {
        font-weight: 800;
        font-size: 1.5rem;
        text-align: center;
        padding-top: 10px;
    }
    #blur>ol {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        list-style: none;
        text-align: center;
        margin: 0 14%;
        padding-left: 0;
        max-width: 430px;
    }
    #blur>ol>li {
        font-size: 1em;
        margin-top: 2%;
    }
    .btn-mobile {
        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 10px;
    }
    .btn-select {
        width: 70px;
        height: 30px;
        margin-top: 10px;
        background: rgb(0, 0, 0);
        font-weight: 700;
        color: brown;
        border-radius: 15px;
        box-shadow: 3px 3px 5px 0px rgb(0 0 0 / 55%);
    }
    .box-selection:focus {
        color: turquoise;
        background: brown;
    }
    .discA-style {
        width: 4em;
        height: 4em;
        background-size: 4em;
    }
    .discB-style {
        width: 4em;
        height: 4em;
        background-size: 4em;
    }
    body {
        background-image: url('/src/Assets/Img/desktopBG.jpg');
        width: 100vw;
        height: 100vh;
        margin: 0;
    }
    header {
        color: rgb(235, 66, 66);
    }
    #play1,
    #play2 {
        font-size: 30px;
    }
    #field {
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        align-items: center;
    }
    .cell {
        width: 4em;
        height: 4em;
        border: 5px double black;
    }
    .column {
        display: flex;
        flex-direction: column-reverse;
    }
    .column:hover {
        transform: scale(1.05);
        transition: 1s;
    }
    .win {
        background-size: 50vw 75vh;
    }
    #reset:hover {
        background-color: rgb(118, 118, 212);
        color: white;
        border-radius: 15px;
        transition: 1s;
    }
}

@keyframes throwCaptain {
    from {
        transform: translateX(500px);
    }
    to {
        transform: translateX(0px);
    }
}

@keyframes throwIronMan {
    from {
        transform: translateX(-500px);
    }
    to {
        transform: translateX(0px);
    }
}

@keyframes roll {
    from {
        transform: rotateY(180deg);
    }
    to {
        transform: rotateY(0deg);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}